*{
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.title{
  text-align: justify;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #c5d7bd
}

.text{
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #c5d7bd;
  margin-top: 50px;
}

.button{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #2b2e4a;
  color: #c5d7bd;
  padding: 15px;
  margin-top: 50px;
  border-style: none;
  border-radius: 20px;
}

.button > a{
  color: #c5d7bd
}

body::-webkit-scrollbar{
  display: none;
}

body{
  background-color:#53354a;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  position: fixed;
  background-color: #2b2e4a;
  padding-right: 60px;
  margin: 0px;
  width: 100%;
  height: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
}

li > a{
  padding: 10px;
  color: #c5d7bd;
  font-size: 18px;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.body{
  max-width: 1300px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  margin-bottom: 200px;
}

#presentation{
  width: 80%;
  height: 500px;
  margin-top: 100px;
  border-radius: 25px;
  background-color: #903749;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-picture{
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 50%;
  color: #2b2e4a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-picture > img{
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 50%;
}

.portfolio-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: #2b2e4a;
}

.portfolio-text > h1, h2{
  margin: 10px;
  font-weight: 800;
}

.portfolio-text > h1{
  font-size: 40px;
}

#education{
  width: 80%;
  height: 50%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.education-text{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.education-video{
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe{
  width: 50%;
  height: 50%;
}

#projects{
  width: 80%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card-body, .card{
  position: static;
  background-color: #903749;
  border-radius: 25px;
  font-family: 'Krona One', sans-serif;
  color: #c5d7bd
}

.first-card-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;

}

#about{
  width: 80%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.skill-icons > img{
  width: 100px;
  height: 100px;
  color: #e84545;
}

#contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 100px;
}
